

*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


:root{
    --header-font-color:#002e4e;
    --primary-grey-color : #808080;
    --secondary-blue-color:#26278D;

    --primary-font: "Tauri", sans-serif;;
    --secondary-font: "Roboto", sans-serif;
}

html{
    height: 100%;
    font-size: 100%;
}

h1{
    font-family: var(--primary-font);
    font-weight: 900;
}

h2,
h3,
p,
span{
    font-family: var(--secondary-font);
    font-weight: 400;
}

body{
    height: 100%;
    overflow: none;
}

.app{
    min-height: 100vh;
    width: 100%;
    padding-top: 2rem;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.counter-container{
    width: 800px;
    max-width: calc(100% - 0.2rem);
    padding: 2rem 1rem;
    /* border:2px solid red;  */
}

.container-header{
    margin-bottom: 1.5rem;
    text-align: center;
}

.container-header > h1{
    font-size: 1.3rem;
    color: var(--header-font-color);
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    white-space: nowrap;
}

.container-header > span{
    font-size: 0.8rem;
    color: var(--primary-grey-color);
}

.counter-section{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 25px;
    width: 100%;
    /* border: 2px solid red; */
    background-color: #FFFFFF;
    padding: 1rem;
}

.swap-arrows{
    background-color: var(--secondary-blue-color);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 0;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    position: relative;
    z-index: 1;
}

.swap-arrows::before,
.swap-arrows::after{
    content: '';
    display: inline;
    top: 50;
    position: absolute;
    width: 100px;
    height: 0.5px;
    background-color: var(--primary-grey-color);
    z-index: 0;
}

.swap-arrows::before{
    left: 0;
    transform: translateX(-100%);
}

.swap-arrows::after{
    right: 0;
    transform: translateX(100%);
}

.swap-arrows .arrow{
   font-size: 1.5rem;
   color: white;
}



/*------------------input container-------------*/

.counterInput-container{
    width: 500px;
    max-width: 100%;
    /* border: 2px solid blue; */
}

.input-heading{
    font-size: 0.8rem;
    color: var(--primary-grey-color);
    /* border: 2px solid red; */
}

.counterInput-section{
    display: flex;
    gap: 0.4rem;
    align-items: center;
    padding-top: 1rem;  
    /* border: 2px solid yellow; */
}

.menu-container {
    cursor: pointer;
    /* border: 2px solid rgb(0, 0, 0); */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.flag-img{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flag-img img{
    position: absolute;
    width: 100%;
    object-fit: contain;
    scale: 2;
}

.menu-container > span{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--secondary-blue-color);
    white-space: nowrap;
}

.arrow{
    font-size:1.3rem;
    transform: translateY(2px);
}

.dropdown-list {
    position: relative;
}

.country-list{
    background-color: white;
    z-index: 100;
    outline: none;
    position: absolute;
    top: 50px;
    left: -50px;
    text-align: left;
    height: 250px;
    width: 150px;
    overflow-y: scroll;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; 
}

.country-list > li{
    text-decoration: none;
    list-style-type: none;
    padding: 1.3rem;
    font-size: 1.2rem;
    display: flex;
    gap:1rem;
}

.input-section > input{
    border: 2px solid red;
    outline-color: black;
    border-radius: 8px;
    background-color: #EFEFEF;
    padding: 0.8rem;
    color: #3C3C3C;
    font-size: 1rem;
    font-weight: 600;
    width: 100%;
}

/* @media (max-width:425px){

    .menu-container > span{
        margin-right: 0.5rem;
    }
} */

/*----------footer--------*/


.footer{
    margin-top: 1.5rem;
}


.footer span{
    font-size: 0.8rem;
    color: var(--primary-grey-color);
}

.footer p{
    padding-top: 0.5rem;
    font-size: 1rem;
    font-weight: bolder;
    white-space: nowrap;
    font-weight: 700;
}


@media (min-width:768px){

    .app{
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .counter-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
